* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dev-wrapper {
  background-color: aqua;
  display: flex;
}

.dev-route-link {
  padding: 10px 5px 5px 10px;
  margin: 10px;
  text-align: center;
  background-color: cadetblue;
}

.app-wrapper {
  /* display: flex;
    justify-content: center;
    align-items: center;*/
  min-height: 100vh;
  background: url('D:\Projects\FullStack\TestTodoApp\todos-example\src\assets\LoginPageBackround.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.dev-route-link a {
  text-decoration: none;
}